
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    letter-spacing: 1px;
}
/* .movie-container{
    background: whitesmoke;
    width: 100%;
    max-width: 1200px;
    margin: 3rem auto;

}

.each-movie{
    width: 350px;
    background: white;
    border: 1px solid black;
    margin-top:5px ;
}
.each-movie img{
    max-width: 100%;
    height: auto;
}
.app{
    
   margin-top: 50px;
    text-align: center;
}
.app >button{
 
  
    cursor:pointer;


}
.app>span{
    margin:0px 8px ;
}
.heading{
    margin-top: 1rem;
    font-size: 25px;
}

@media screen and (min-width: 992px){
    .movie-container{
        display: grid;
        grid-template-columns: repeat(3,2fr);
        gap:1.0rem;
    } 
    .each-movie{
        margin-top:5px ;
    }
    
} */

.cocktail-data{
   display:grid ; 
   grid-template-columns: 1fr;
   gap:1rem
}
.cocktail-data li{
    list-style-type: none;
}
.cocktail-data li img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

@media screen and (min-width:769px){
.cocktail-data{
    gap:2rem;
    grid-template-columns: 1fr 1fr 1fr;
}
}